.nav-fixed {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.nav-menu {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
}

.nav-menu-opt * {
  text-decoration: none;
}
